body {
    margin: 0;
  
    /* BEGIN (write your solution here) */
    font-size: 18px;
    color: #333;
    /* END */
    font-family: sans-serif;
    line-height: 1.5;
  }
  
  h1 {
    /* BEGIN (write your solution here) */
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 60px;
    text-align: center;
  }
  /* END */
  
  h2 {
    /* BEGIN (write your solution here) */
    margin-top: 0;
    padding-bottom: 30px;
    font-size: 35px;
    text-align: center;
    
    
    /* END */
  
    border-bottom: 2px solid #e3e3e3;
  }
  
  main {
    width: 900px;
    margin: auto;
  }
  
  section {
  /* BEGIN (write your solution here) */
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 0;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 0;
  /* END */
  }
  
  section h2 {
    padding: 0;
    text-align: left;
    border: none;
  }
  
  li {
    margin-bottom: 10px;
    list-style: none;
    position: relative;
  }

  img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    
  }

  table {
    color: #fff;
    background-color: #343a40;
    
    
  }
 
  td,
  th {
    padding: 1em;
  }
 
  th {
    text-align: left;
   }
   
 
  .text-right {
  text-align: right;
 }

 .text-bold {
  font-weight: bold;
 }

  tbody tr {
    background-color: #2e3338;
  }

  section ul li::before {
    position: absolute;

    
    
    background-image: url(images/Картинка-списка-штурмовик.png);
    width: 2em;
    height: 2em;
    left: -2em;
    top: -0.5em;
    
    background-size: contain;
    background-repeat: no-repeat;


    
    content:'';
  }

.news {
  width: 500px;
}

.news p,h1 {
 white-space: nowrap;
 overflow-x: hidden;
 text-overflow: ellipsis; 
}